@media all {
  * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  a img {
    border: 1px solid #000;
    width: 240px;
    height: 180px;
  }
  a:hover img {
    border: 1px solid #000;
  }
  .box-photo .photo img {
    width: 147px;
    height: 200px;
    border: 0;
  }
}
